{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/book.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Quiz">
            QuizApp
        </a>

        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <!-- User Name -->
                <li class="nav-item">
                    <a class="nav-link text-light" href="#"><i class="fas fa-user"></i> {{ request.user }}</a>
                </li>

                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>

                <!-- Logout -->
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
