

<container>
    <h1>{{ quiz.name }}</h1>
    {% if user == quiz.owner and not quiz.is_active %}
    <form method="post" action="{% url 'start_quiz' quiz.id %}">
        {% csrf_token %}
        <button type="submit">Start de quiz</button>
    </form>
    {% endif %}
    
    <form method="post" action="{% url 'submit_quiz' quiz.id %}">
        {% csrf_token %}
        
        {% for question in quiz.questions.all %}
            <fieldset>
                <legend><strong>{{ question.text }}</strong></legend>
                {% for answer in question.answers.all %}
                    <label>
                        <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                        {{ answer.text }}
                    </label><br>
                {% endfor %}
            </fieldset>
            <br>
        {% endfor %}
        
        <button type="submit">Quiz indienen</button>
    </form>

</container>